<!DOCTYPE html>
{% extends "remedio/base.html" %}
<html lang="en">
{% block head_block %}
    <meta charset="UTF-8">
    <title>Previous Prescriptions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
{% endblock %}
{% block body_block %}
{{fname}}
{{lname}}<br>
<table border="5">
  <thead>
    <th>Date</th>
    <th>Disease</th>
    <th>Medicine</th>
  </thead>

  {% for x,y,z in zip %}
    <tr>
      <td>{{ x }}</td>
      <td>{{ y }}</td>
      <td>{{ z }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
</html>
