<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<h1>Remedio</h1>
	<h2>A Place Where Your Health is Stored</h2>
	<form method='POST'>
		<h3>Sign Up</h3>
		<input type="text" name="f_name" placeholder="First Name" required="true"><br>
		<input type="text" name="l_name" placeholder="Last Name" required="true"><br>
		<input type="text" name="u_name" placeholder="Username" required="true"><br>
		<input type="email" name="u_name" placeholder="Email" required="true"><br>
		<input type="password" name="passwd" placeholder="Password" required="true"><br>
		Sex:<input type="radio" value="Male">Male <input type="radio" value="Female">Female<br>
		Date Of Birth:<input type="date" name="dob"><br>
		<input type="submit" value="Sign Up">
	</form>
</body>
</html